body{
  width:100;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  height: 100vh;
  width: 100vw;
}
#container{
  background-color: red;
   position: relative;
   width:1200px;
   height:660px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
   
}
#map{
  background-color: beige;
  position: absolute;
  
  }

#windy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 1100px;
  margin-top: 540px;
}
#windy:hover{
  border: 3px solid grey;
  border-radius: 50px;
}

#sunny{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 969px;
  margin-top: 451px;
}
#sunny:hover{
  border: 3px solid yellow;
  border-radius: 50px;
}
#rainy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
 
  margin-left: 288px;
  margin-top: 354px;
}
#rainy:hover{
  border: 3px solid lightblue;
  border-radius: 50px;
}

#cloudy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 590px;
    margin-top: 148px;
}
#cloudy:hover{
  border: 3px solid white;
  border-radius: 50px;
}

#snowy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 467px;
  margin-top: 106px;
}
#snowy:hover{
  border: 3px solid blue;
  border-radius: 50px;
}

#stormy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
    margin-left: 167px;
    margin-top: 111px;
}
#stormy:hover{
  border: 3px solid red;
  border-radius: 50px;
}
