body{
  width:100;
  background-color: antiquewhite;
 
}
#container{
  margin-top:100px;
   position: relative;
   width:1200px;
   height:660px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
   
}
#map{
  position: absolute;
  
  }

  /* img {
    width: 100vw;
    height: 100vh;
  } */

#windy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 1100px;
  margin-top: 540px;
}
#windy:hover{
  border: 3px solid grey;
  border-radius: 50px;
}

#sunny{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 969px;
  margin-top: 451px;
}
#sunny:hover{
  border: 3px solid yellow;
  border-radius: 50px;
}
#rainy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
 
  margin-left: 288px;
  margin-top: 354px;
}
#rainy:hover{
  border: 3px solid lightblue;
  border-radius: 50px;
}

#cloudy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 590px;
    margin-top: 148px;
}
#cloudy:hover{
  border: 3px solid white;
  border-radius: 50px;
}

#snowy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
  margin-left: 467px;
  margin-top: 106px;
}
#snowy:hover{
  border: 3px solid blue;
  border-radius: 50px;
}

#stormy{
  z-index: 10; 
  position:absolute;
  height: 100px;
  width:100px;
    margin-left: 167px;
    margin-top: 111px;
}
#stormy:hover{
  border: 3px solid red;
  border-radius: 50px;
}

#weather{
  background-color: #f5be97;
  border-radius:  20px;
  padding:20px 15px;
  z-index: 10; 
  position:absolute;
  height: 300px;
  width:150px;
  font-size: large;
  font-family: monospace;
  margin-left: 2%;
  margin-top: 3%;
}
button{
  margin-bottom: 24px;
  background-color: #f5be97;
  border: 2px solid #c78353;
  height:50px;
  border-radius: 15px;
  font-size: large;
  font-family: monospace;
  font-weight: 500;
}

button:hover{
  background-color: #c78353;
}
h1{
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  color:#db5910;

}